{% extends 'common/base.html' %}
{% load static %}
{% block content %}

        <section id="details">
            <div id="details-wrapper">
                <h2>Profile Details</h2>
                {% if profile.image %}
                    <img id="details-img" src="{{ profile.image }}"
                     alt="a picture of {{ profile.first_name }} {{ profile.last_name }}"/>
                {% else %}
                    <img id="details-img" src="/static/images/default.jpg" alt="profile img"/>
                {% endif %}

                <p id="details-title">{{ profile.first_name }} {{ profile.last_name }}</p>

                <div id="info-wrapper">
                    <div id="details-description">
                        <p>{{ profile.email }}</p>
                        <p>Age: {{ profile.age }}</p>
                        <p id="nutrition">Posts: {{ fruit_posts }}</p>
                    </div>
                    <div id="action-buttons">
                        <a href="{% url 'profile-edit' %}" id="edit-btn">Edit</a>
                        <a href="{% url 'profile-delete' %}" id="delete-btn">Delete</a>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}