{% extends 'common/base.html' %}
{% block content %}
    <section id="details">
        <div id="details-wrapper">
            <img id="details-img" src="{{ fruit.image_url }}" alt="image of {{ fruit.name }}"/>
            <p id="details-title">Name: {{ fruit.name }}</p>
            <div id="info-wrapper">
                <div id="details-description">
                    <p> Description: {{ fruit.description }} </p>
                    <p id="nutrition">Nutrition</p>
                    <p id="details-nutrition">{{ fruit.nutrition }}</p>
                </div>
                <div id="action-buttons">
                    <a href="{% url 'edit fruit' fruit.pk %}" id="edit-btn">Edit</a>
                    <a href="{% url 'delete fruit' fruit.pk %}" id="delete-btn">Delete</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}