{% extends 'common/base.html' %}
{% load static %}
{% block content %}
    {% if fruits %}
        <h2>Fruits</h2>
        <section id="dashboard">
            {% for fruit in fruits %}
            <div class="fruit">
                <img src="{{ fruit.image_url }}" alt="{{ fruit.name }}"/>
                <h3 class="title">Name: {{ fruit.name }}</h3>
                <p class="description">Description: {{ fruit.description }}</p>
                <a class="details-btn" href="{% url 'details fruit' fruit.pk %}">More Info</a>
            </div>
            {% endfor %}
        </section>
    {% else %}
        <h2>No fruit info yet.</h2>
    {% endif %}
{% endblock %}